MirrorIndexHelper/Web References/DocumentFinder/SearchDocument.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Search">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="docType" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SearchSoapIn">
    <wsdl:part name="parameters" element="tns:Search" />
  </wsdl:message>
  <wsdl:message name="SearchSoapOut">
    <wsdl:part name="parameters" element="tns:SearchResponse" />
  </wsdl:message>
  <wsdl:message name="SearchHttpGetIn">
    <wsdl:part name="docType" type="s:string" />
    <wsdl:part name="xml" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SearchHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SearchHttpPostIn">
    <wsdl:part name="docType" type="s:string" />
    <wsdl:part name="xml" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SearchHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="SearchDocumentSoap">
    <wsdl:operation name="Search">
      <wsdl:input message="tns:SearchSoapIn" />
      <wsdl:output message="tns:SearchSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SearchDocumentHttpGet">
    <wsdl:operation name="Search">
      <wsdl:input message="tns:SearchHttpGetIn" />
      <wsdl:output message="tns:SearchHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SearchDocumentHttpPost">
    <wsdl:operation name="Search">
      <wsdl:input message="tns:SearchHttpPostIn" />
      <wsdl:output message="tns:SearchHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SearchDocumentSoap" type="tns:SearchDocumentSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Search">
      <soap:operation soapAction="http://tempuri.org/Search" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SearchDocumentSoap12" type="tns:SearchDocumentSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Search">
      <soap12:operation soapAction="http://tempuri.org/Search" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SearchDocumentHttpGet" type="tns:SearchDocumentHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Search">
      <http:operation location="/Search" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SearchDocumentHttpPost" type="tns:SearchDocumentHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Search">
      <http:operation location="/Search" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SearchDocument">
    <wsdl:port name="SearchDocumentSoap" binding="tns:SearchDocumentSoap">
      <soap:address location="http://168.160.16.175/DocumentFound/SearchDocument.asmx" />
    </wsdl:port>
    <wsdl:port name="SearchDocumentSoap12" binding="tns:SearchDocumentSoap12">
      <soap12:address location="http://168.160.16.175/DocumentFound/SearchDocument.asmx" />
    </wsdl:port>
    <wsdl:port name="SearchDocumentHttpGet" binding="tns:SearchDocumentHttpGet">
      <http:address location="http://168.160.16.175/DocumentFound/SearchDocument.asmx" />
    </wsdl:port>
    <wsdl:port name="SearchDocumentHttpPost" binding="tns:SearchDocumentHttpPost">
      <http:address location="http://168.160.16.175/DocumentFound/SearchDocument.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>