MirrorIndexHelper/Web References/DocumentPicker/FulltextTransmiter.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="PickupFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uniqueid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PickupFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PickupFileResult" type="tns:PickUpResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PickUpResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IsFinded" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="NeedScan" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Content" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="FileMD5" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PickupFileSoapIn">
    <wsdl:part name="parameters" element="tns:PickupFile" />
  </wsdl:message>
  <wsdl:message name="PickupFileSoapOut">
    <wsdl:part name="parameters" element="tns:PickupFileResponse" />
  </wsdl:message>
  <wsdl:portType name="FullTextTransmiterSoap">
    <wsdl:operation name="PickupFile">
      <wsdl:input message="tns:PickupFileSoapIn" />
      <wsdl:output message="tns:PickupFileSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FullTextTransmiterSoap" type="tns:FullTextTransmiterSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PickupFile">
      <soap:operation soapAction="http://tempuri.org/PickupFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FullTextTransmiterSoap12" type="tns:FullTextTransmiterSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PickupFile">
      <soap12:operation soapAction="http://tempuri.org/PickupFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FullTextTransmiter">
    <wsdl:port name="FullTextTransmiterSoap" binding="tns:FullTextTransmiterSoap">
      <soap:address location="http://168.160.16.175/DocumentPickUp/FulltextTransmiter.asmx" />
    </wsdl:port>
    <wsdl:port name="FullTextTransmiterSoap12" binding="tns:FullTextTransmiterSoap12">
      <soap12:address location="http://168.160.16.175/DocumentPickUp/FulltextTransmiter.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>